.header {
  height: 105vh;
  width: 100%;
}

.header-container {
  background-position: center;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%,rgba(0,0,0,0.2)95%, rgba(0,0,0,0));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*padding: 50px 0 300px 0;*/
  /*height: 100%;*/
}

.header-buttons {
  text-align: center;
}

p {
  font-size: 1.1rem;
}

