@keyframes wave {
  from, to {
    transform: translate(-50%, 0%);
  }
  50% {
    transform: translate(-50%, -20%);
  }
}

#bubble-wrapper {
  background-color: var(--bs-secondary);
  height: 40px;
  width: 100%;
  position: relative;
  bottom: 0px;
  overflow: hidden;
  pointer-events: none;
}

.bubble {
  height: max(100px, 10vw);
  width: max(100px, 10vw);
  background-color: var(--bs-primary);
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 100%;
  animation: wave 0.75s ease-in-out infinite;
}

@media (prefers-reduced-motion) {
  .bubble {
    animation: none;
    display: none;
  }
}

.btn {
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.1);
}

